body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #bb4b4b;
    box-sizing: border-box;
    text-decoration: none;
}
main {          
        width: 50%;
        background-color: blue;
        height: 100vh;
        margin: 0 auto;
        text-align: center;
}
header {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}
nav h1 {
    text-align: center;
    color: #333;
}
nav ul {
    margin-bottom: 10px;
    color: #555;
}
nav li {
    list-style-type: none;
    background-color: rgb(255, 132, 0);
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    box-sizing: content-box;
    margin-bottom: 20px;
    margin-top: 6px;
    text-decoration: none;

}
nav li:hover {
    background-color: rgb(13, 237, 207);
    transform: translateX(10px);
}
nav img {
    width: 60px;
    height: 60px;
    float: left;
}